<!DOCTYPE html>
<html lang="ko">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
        }

        caption {
            text-align: left;
        }

        li {
            list-style: none;
            margin-bottom: 10px;
        }

        th {
            width: 10%
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>

</head>

<body>
    <div id="app">

        <label for="userId">ID</label><input type="text" id="userId" v-model="input.inp_id" @keypress.enter="addFunc">
        <label for="userName">Name</label><input type="text" id="userName" v-model="input.inp_name"
            @keypress.enter="addFunc">
        <button @click="addFunc">추가</button>
        <span>*엔터로 가능</span>
        <ul>
            <li v-for="(todo,index) in todos">

                <table>
                    <caption>{{index}}</caption>
                    <tr>
                        <th>id:</th>
                        <td>{{todo.id}}</td>
                    </tr>
                    <tr>
                        <th>이름:</th>
                        <td>{{todo.name}}</td>
                    </tr>
                    <tr>
                        <th>가입날짜</th>
                        <td>{{todo.joinDay}}</td>
                    </tr>
                    <tr v-if="todo.status==false">
                        <th>탈퇴날짜</th>
                        <td>{{todo.outDay}}</td>
                    </tr>
                    <tr>
                        <th>상태</th>
                        <td>{{todo.status}}</td>
                    </tr>
                </table>

                <button v-if="todo.updateToggle" @click="updateTarget(index,todo)">수정하기</button>
                <div v-else style="display:inline-block">
                    <label for="upid">ID</label><input type="text" id="upid" v-model="updataInp.upid">
                    <label for="upname">Name</label><input type="text" id="upname" v-model="updataInp.upname">
                    <button v-if="todo.status" @click="updateFunc(index)">수정</button>
                    <button @click="updateCancle(index,todo)">취소</button>
                </div>

                <button v-if="todo.updateToggle" @click="delteFunc(index)">제거</button>
                <div v-if="!todo.updateToggle" style="display:inline-block">
                    <button v-if="todo.status" @click="outUs(index,todo)">탈퇴</button>
                </div>

            </li>
        </ul>

        <button @click="addFunc">add</button>
        <button @click="minFunc">remove</button>
        <button @click="backupFunc">backup</button>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                input: {
                    inp_id: '',
                    inp_name: ''
                },
                updataInp: {
                    upid: '',
                    upname: ''
                },
                update: true,
                backUpFlag: false,
                backup: null,
                todos: [
                ]
            },
            methods: {
                joinYMD() {
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1;
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                    if (mm < 10) {
                        mm = '0' + mm
                    }
                    today = yyyy + '/' + mm + '/' + dd + '/' + new Date().toLocaleTimeString();
                    return today
                },
                addFunc() {
                    if (this.todos.length >= 10) {
                        alert('리스트가 10개 이상입니다')
                        return false;
                    }
                    if (!this.input.inp_id || !this.input.inp_id.trim() || !this.input.inp_name || !this.input.inp_name.trim()) {
                        alert('값을 입력해주세요')
                        return false;
                    }

                    this.todos.push({
                        pk: Date.now(),
                        id: this.input.inp_id,
                        name: this.input.inp_name,
                        len: this.todos.length,
                        joinDay: this.joinYMD(),
                        outDay: null,
                        updateToggle: true,
                        status: true
                    })

                    this.input.inp_id = "";
                    this.input.inp_name = "";
                    this.backUpFlag = false;
                    console.log(this.todos)
                },

                minFunc() {
                    if (this.todos.length !== 0) {
                        this.backup = this.todos.pop()
                        this.backUpFlag = true;
                    } else {
                        alert('리스트가 없습니다')
                    }
                },
                backupFunc() {
                    if (this.todos.length >= 0 && this.backUpFlag === true) {
                        this.todos.push(this.backup)
                        this.backUpFlag = false;
                    } else {
                        alert('remove해야 backup이 가능합니다')
                    }
                },
                updateTarget(index, todo) {
                    if (this.update) {
                        this.updataInp.upid = todo.id
                        this.updataInp.upname = todo.name
                        this.todos[index].updateToggle = !this.todos[index].updateToggle
                        this.update = false;
                    } else {
                        return false;
                    }
                },
                updateFunc(index) {
                    if (!this.updataInp.upid || !this.updataInp.upid.trim() || !this.updataInp.upname || !this.updataInp.upname.trim()) {
                        alert('값을 입력해주세요')
                        return false;
                    }
                    this.todos[index].id = this.updataInp.upid;
                    this.todos[index].name = this.updataInp.upname;
                    this.todos[index].updateToggle = !this.todos[index].updateToggle
                    this.update = true;
                },
                delteFunc(index) {
                    this.todos.splice(index, 1)
                    this.update = true;
                },
                outUs(index, todo) {
                    var outUsTarget = null;
                    var targetIndex = null;
                    this.todos.forEach((a, i) => {
                        if (a.pk === todo.pk) {
                            outUsTarget = todo.pk
                            targetIndex = i
                        }
                    })

                    this.todos[targetIndex].outDay = this.joinYMD()
                    this.todos[targetIndex].status = false;
                    this.todos[targetIndex].id = this.todos[targetIndex].id + '님은 탈퇴하셨습니다'
                    this.todos[index].updateToggle = !this.todos[index].updateToggle;
                    this.update = true;

                },
                updateCancle(index, todo) {
                    this.update = true;
                    this.todos[index].updateToggle = !this.todos[index].updateToggle;
                }
            }
        })
    </script>

</body>

</html>